@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "DM Serif Text", serif;
    box-sizing: border-box;
}

.header{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 6vh;
    
}

.navbar{
    display: flex;
    height: 6vh;
    background: linear-gradient(180deg, #FF69B4 35%, rgba(63,182,207,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center; 
    justify-content: space-between; 
    width: 80%; 
    margin-left: 10%;
    font-size:large;
}
.logo-text {
  display: block; /* Ensures the text is normally visible */
}

@media (max-width: 600px) {
  .logo-text {
    display: none; 
  }
}
.nav-section {
  
    display:flex; 
    justify-content: center; 
    align-items: center; 
    column-gap: 20px; 
    margin-bottom: 0px;
  }

.navbar img{
  max-width: 100%;
  max-height: 100%;
  height: auto; 
  width: auto; 
  object-fit: contain; 
  max-height: 4.5vh; 
}

.footerBackDrop {
  
  left: 0;
  right: 0;
  bottom: 0;
  height: 6vh;
  background-color: #000000;
  color: white;
  position: fixed; 
}

.footerContent {
  margin-left: 10%;
}

.homeContent{
  
  margin-left: 10%;
}

.homeHeaders{
  animation: fontColor 12s ease-in-out infinite;
}

.homeContent h1{
  padding-top: 50px;
  margin-top:0px;
}

.homeBackground{
  position: absolute;
  
  height: 100%;
  height: 90vh;
  width: 100%;
  
  background: rgb(233,53,226);
  background: linear-gradient(45deg, rgba(233,53,226,1) 25%, rgba(109,7,198,1) 50%, rgba(0,0,0,1) 75%, rgba(0,9,9,1) 100%);
  
  
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}


@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
    
    
  }
  100%{
    background-position: 0% 50%;
    
  }
}

@keyframes fontColor {
  0%{
    
  }
  50%{
    
    color: white;
    
  }
  100%{
    
    
  }
}

@keyframes buttonColor {
  0%{
    background-position: 0 50%;
    color: white;
    border-color: white;
  }
  50%{
    background-position: 100% 50%;
    color: #FF69B4;
    border-color: #FF69B4;
    
  }
  100%{
    background-position: 0% 50%;
    color: white;
    border-color: white;
    
  }
}



.ukTestContent{
  margin-left: 10%;
  margin-right: 10%;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px; 
}

.question-container {
  width: 80%; 
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
  border: 1px solid #ccc;
}

.answers-container {
  margin-top: 2.5%;
  width: 90%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  gap: 10px; 
}

.answer-box {
  flex: 1 1 40%; 
  min-width: 150px;
  max-width: 700px; 
  padding: 10px;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  border: 1px solid #aaa;
  text-align: left;
}

.answer-box.selected {
  background-color: #000000; 
  color: white;
}

.pinkButton {
  animation: buttonColor 12s ease-in-out infinite;
  background-color: transparent; 
  color: #FF69B4;               
  border: 2px solid #FF69B4;    
  padding: 10px 20px;           
  border-radius: 20px;          
  font-size: 16px;              
  cursor: pointer;             
  transition: all 0.3s ease;    
}

.pinkButton:hover {
  background-color: #FF69B4 !important;    
  color: white !important;                 
}

.submitButtonContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.invisibleButton {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}